variables:
  IMAGE_PATH: "${CI_REGISTRY_IMAGE}/default:${CI_COMMIT_REF_SLUG}"

stages:
  - build-image
  - test

build-image:
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - docker build -t "${IMAGE_PATH}" .
    - docker push "${IMAGE_PATH}"
  tags:
    - docker
    - skylake
  stage: build-image

test:
  image: "${IMAGE_PATH}"
  script:
    - source ~/.anaconda/bin/activate
    - conda activate lead
    - pip install -e .[dev]
    - pytest --junitxml report.xml
  stage: test
  artifacts:
    paths:
      - report.xml
    expire_in: 14 days
    when: always
  tags:
    - skylake
