*.pyc
__pycache__
.deprecated
.vscode
.pytest_cache
.ipynb_checkpoints
jupyter_execute
error
*.costfunc_moldrug*
.coverage*
coverage.xml
interesting_struct.txt
nohup.out
my_cost.py
.DS_Store
wd

ideas
projects
pkl
tmp
tox.ini

build
dist
public

moldrug.egg-info

src/moldrug/postpro.py
src/moldrug/_version.py
vina

streamlit/test/moldrug-dashboard.py

Contrib/MP