# Main dependencies
crem==0.2.9
tqdm==4.64.0
numpy == 1.22.0
pandas==1.4.2
sklearn==0.0
# Test dependencies
requests==2.28.1
pytest==7.1.2
# Docs dependencies
recommonmark==0.7.1
sphinx
nbsphinx==0.8.9
sphinx-rtd-theme==1.0.0
ipython==8.3.0
ipython-genutils==0.2.0